<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Resmia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,700,900" rel="stylesheet"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/css/job-home.css"/>
</head>
<body>
<header>
    <a href="/1"><img src="/images/logo.png" alt="logo" height="50"/></a>
    <div class="login-block">
        <a href="/employer/active-jobs">Employer Entry</a>
        <a th:href="'/' + ${applicantId} + '/applications'">My Applications</a>
    </div>
</header>
<section class="search-panel">
    <input type="text" placeholder="Search Jobs"/>
    <button>SEARCH</button>
</section>
<section class="job-list">
    <div class="job-container" th:each="job,iterStat : ${joblist}">
        <h2 th:text="${job.jobTitle}" class="title"></h2>
        <p th:text="${job.location}" class="location"></p>
        <p th:text="${job.income}" class="income"></p>
        <p th:text="${job.description}" class="desc"></p>
        <button th:onclick="|applyOnClick('${job.id}')|" class="btn" id="applyBtn">Apply</button>
        <!--<button th:onclick="|viewSubmitOnClick('${job.id}', '${applicantId}')|" class="btn" id="viewSubmitBtn">View-->
        <!--Submission-->
        <!--</button>-->
    </div>
    <div class="modal" id="model">
        <div class="apply-form">
            <input id="name" type="text" placeholder="Your Project Page"/>
            <input id="intro" type="text" placeholder="Your Introduction"/>
            <input id="education" type="text" placeholder="Your Education"/>
            <input id="experience" type="text" placeholder="Your Experience"/>
            <div style="display: flex; margin-top: 20px;">
                <button onclick="submitOnClick()">Submit</button>
                <button onclick="cancelOnClick()" style="margin-left: 10px;">Cancel</button>
            </div>
        </div>
    </div>
    <div class="modal" id="modelSubmit">
        <div class="apply-form">
            <div class="model-result">
                <h2 id="mySubmitName"></h2>
                <p id="mySubmitIntro"></p>
                <p id="mySubmitEdu"></p>
                <p id="mySubmitExp"></p>
            </div>
            <div class="model-warning">You didn't submit any information for this job</div>
            <button onclick="closeOnClick()">Close</button>
        </div>
    </div>
</section>
<footer>

</footer>

<script>
    var applyJobId = 0;

    function applyOnClick(id) {
        applyJobId = id;
        $('#model').css('display', 'flex');
    }

    function viewSubmitOnClick(jobId, applicantId) {
        $('#modelSubmit').css('display', 'flex');
        $.ajax({
            url: '/api/application',
            method: 'POST',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify({jobId: jobId, applicantId: applicantId}),
        }).done(function (data) {
            const result = data.data;
            if (result) {
                $('.model-result').css('display', 'block');
                $('.model-warning').css('display', 'none');

                $('#mySubmitName').text(result.applicantName);
                $('#mySubmitIntro').text(result.applicantIntro);
                $('#mySubmitEdu').text(result.applicantEducation);
                $('#mySubmitExp').text(result.applicantExperience);
            } else {
                $('.model-warning').css('display', 'block');
                $('.model-result').css('display', 'none');
            }
        });
    }

    function submitOnClick() {
        const name = $('#name').val();
        const intro = $('#intro').val();
        const education = $('#education').val();
        const experience = $('#experience').val();

        $.ajax({
            url: '/api/applications',
            method: 'POST',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify({
                jobId: applyJobId,
                applicantId: 1,
                applicantName: name,
                applicantIntro: intro,
                applicantEducation: education,
                applicantExperience: experience
            }),
        }).done(function (data) {
            $('#model').css('display', 'none');
        });

    }

    function cancelOnClick() {
        $('#model').css('display', 'none');
    }


    function closeOnClick() {
        $('#modelSubmit').css('display', 'none');
    }
</script>
</body>
</html>